<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capston.noodles.Follow.mapper.FollowMapper">
   <insert id="save" parameterType="capston.noodles.Follow.model.dao.Follow" useGeneratedKeys="true" keyProperty="followIdx">
       Insert into Follow (status, userIdx, followingIdx)
        values(#{status}, #{userIdx}, #{followingIdx})
   </insert>
    <select id="getFollowByUserIdxs" parameterType="capston.noodles.Follow.model.dao.Follow" resultType="capston.noodles.Follow.model.dao.Follow">
        select * from Follow where userIdx=#{userIdx} and followingIdx=#{followingIdx}
    </select>
    <update id="updateFollowStatus" parameterType="capston.noodles.Follow.model.dao.Follow" >
        update Follow set status = #{status} where followIdx = #{followIdx}
    </update>
</mapper>
