<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capston.noodles.User.mapper.MypageMapper">

    <select id="getUserInfo" parameterType = "long" resultType="MypageResponse">
        select u.profileImage, u.nickname, u.identification, u.description, ifnull(x.following, 0) following, ifnull(y.follower, 0) follower, group_concat(pi.postIdx) postIdxList, group_concat(pi.image) imageList
        from UserInfo u
                 left join (
            select count(f.userIdx) following, f.userIdx
            from Follow f
            where f.status = 'Y'
            group by f.userIdx
        )x on x.userIdx = u.userIdx
                 left join (
            select count(f.followingIdx) follower, f.followingIdx
            from Follow f
            where f.status = 'Y'
            group by f.followingIdx
        )y on y.followingIdx = u.userIdx
                 left join Post p on p.userIdx = u.userIdx and p.status = 'Y' and p.isMain = 1
                 left join PostImage pi on p.postIdx = pi.postIdx
        where u.userIdx = #{userId};
    </select>

    <update id="updateProfile" parameterType="capston.noodles.User.model.entity.dto.UpdateProfileDto">
        update UserInfo
        set nickname = #{nickname}, description = #{description}, profileImage = #{profileImage}
        where userIdx = #{userIdx}
    </update>

    <select id="getImageByUserIdx" parameterType="Long" resultType="String">
        select profileImage
        from UserInfo
        where userIdx = #{userIdx}

    </select>
</mapper>